@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto;
}

.custom-input:focus + label {
  top: -1.25rem;
  @apply text-blue-900 border-4 border-blue-900 font-semibold;
  padding: 0 7px;
  left: 0.75em;
  background-color: white;
  font-size: 20px;
}

.custom-input:not(:placeholder-shown) + label {
  top: -1.25rem;
  @apply text-blue-900 border-4 border-blue-900 font-semibold;
  padding: 0 7px;
  left: 0.75em;
  background-color: white;
  font-size: 20px;
}
